.photo-grid-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 10fr));
  gap: 1rem;
}

.photo-grid > * {
  width: 100%;
  column-span: 2;
}

.photo-grid-item {
  position: relative;
}

.photo-bottom-bar {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 6px;
  justify-content: space-between;
}

.photo-platform {
    background: black;
    border-radius: 50%;
    padding: 4px;
}

.photo-bottom-img-name-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
